@mixin transition( $a:.5s ) {
  transition-property:all;
  transition-duration:$a;
}
@mixin box-shadow( $a,$b, $c, $d, $e ) {
  box-shadow:$a $b $c $d $e;
}
@mixin border-radius-one( $a ) {
  border-radius:$a;
}
@mixin transform-scale( $a:90deg, $b:center, $c:center ) {
  transform:rotate($a);
  transform-origin:$b $c;
}
@mixin transform-translate( $a, $b ) {
  transform:translate($a,$b);
}
$MC:#e7413b;
/* ················网格系统··············· */
/* 网格系统变量 */
$screen-sm-min:768px; // 小型设备
$screen-md-min:992px; // 中型设备
$screen-lg-min:1200px; // 大型设备
$md-container-width:970px; // 中型设备container宽
$lg-container-width:1000px; // 大型设备container宽
$padd:10px;
$colnum:24;